@model ECartOnlineShop.Models.Login


@{
    var returnUrl = ViewData["ReturnUrl"] as string;
    var message = TempData["Error"] as string;
}


<!DOCTYPE html>
<html>
<head>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <link href="~/css/site.css" rel="stylesheet" />
</head>



<body>
<form action="/Index?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post">
    
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div>
            @if (!string.IsNullOrEmpty(message))
            {
                <h4 class="alert-danger" style="padding:15px;">@message</h4>
            }
        </div>
      
            <div class="container h-100" style="padding-top:70px">
                <div class="d-flex justify-content-center h-100">
                    <div class="user_card bg-primary">

                        <div class="d-flex justify-content-center">

                            <div class="brand_logo_container">

                                <img src="~/Images/loginImg.png" class="brand_logo" alt="Logo" width="80%" />
                            </div>
                        </div>



                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" style="font-size: 14pt;" name="AdminName" class="form-control input_user" placeholder="AdminName">
                        </div>
                        <br />
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="Password" class="form-control input_pass" style="font-size: 14pt; -webkit-text-security: square" placeholder="Password">

                        </div><br />
                        
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button type="submit" name="button" class="btn login_btn form-control">Login</button>
                        </div>

                    </div>


                    </div>
                </div>
           

    
</form></body>
</html>
@{
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
            alert('@TempData["message"]');
        </script>
    }
}
