@model IEnumerable<ECartOnlineShop.Models.Product>

@{
    ViewData["Title"] = "UserProductsList";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1 class="text-primary">Products</h1>



<style>
    .btn {
        width: 75%;
    }
</style>

<div class="card-deck">
    @foreach (var item in Model)
    {
        <div class="card m-3" style="min-width: 20rem; max-width: 30.5%;">
            <div class="card-header" align="center">
                <h4>@item.ProductName</h4>
            </div>

            <div class="card-img-top" align="center">
                <img src="~/Images/@item.ProductImage" asp-append-version="true" style="align-items:center; width:250px;height:350px;border-radius:5px;border:1px solid #efefef" />
            </div>

            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <label style="font-size: 20px; align-content:center;"><b>$ @item.ProductPrice.00</b></label>
                    </div>
                    <a asp-action="UserProduct" asp-route-id="@item.ProductId" class="btn bg-primary pull-right text-white " style="width:40%;">View Product</a>



                </div>
            </div>
        </div>
    }
</div>